<section class="form--profile">
    <header>Signup</header>
    <form id="signup--form" class="form" method="post">
        <label for="username">nombre de usuario:</label>
        <input
            class="input input--text"
            type="text"
            placeholder="nombre de usuario"
            id="username"
            name="username"
            required
        >
        <label for="password">contraseña:</label>
        <input
            class="input input--text"
            type="password"
            placeholder="contraseña"
            id="password"
            name="password"
            required
        >
        <button
            class="input submit"
            type="submit"
            value="submit"
        >►</button>
    </form>
</section>