<h1 class="hdr--hd no-bg">
    <a href="/" class="refbtn">pagina web</a>
</h1>
<section id="menu">
    <button class="menu--btn" id="options">
        <img class="btn--img filter-img animation" src="/img/options.svg" alt="">
    </button>
    <button class="menu--btn" id="more">
        <img class="btn--img filter-img animation" src="/img/more.svg" alt="">
    </button>
</section>