<header>
    <h1 class="hdr-hd">
        {{#active pathname "/"}}
            pagina web
        {{/active}}
        </h1>
    <nav class="navbar">
        <h2 class="hdr-hd">
            {{#active pathname "/about"}}
                about
            {{/active}}
        </h2>
        <h2 class="hdr-hd">
            {{#active pathname "/chat"}}
                chat
            {{/active}}
        </h2>
    </nav>
</header>