<nav class="bar animation" id="optsbar">
    <h2 class="hdr--hd">
        <span>theme:</span>
    </h2>
    <h2 class="hdr--hd switch--checkbox">
        <input type="checkbox" id="darkmode">
        <label class="switch animation" for="darkmode">
            <img class="switch--img filter-img" src="/img/mon.svg" alt="mon">
            <img class="switch--img filter-img" src="/img/sun.svg" alt="sun">
        </label>
    </h2>
    <h2 class="hdr--hd">
        <span>animation:</span>
    </h2>
    <h2 class="hdr--hd switch--checkbox">
        <input type="checkbox" id="animation" checked>
        <label class="switch animation" for="animation">
            <img class="switch--img filter-img" src="/img/non-animation.svg" alt="non">
            <img class="switch--img filter-img" src="/img/animation.svg" alt="ani">
        </label>
    </h2>
</nav>