<div class="chat">
    <h3>Chat</h3>
    <ul id="chat--room">
        <li>inica la conversación</li>
    </ul>
    <form id="chat--form" method="post">
        <input
            class="chat--input chat--input--text"
            type="text" placeholder="username"
            id="username" name="username"
        required>
        <textarea
            class="chat--input chat--input--text"
            id="menssage" name="menssage"
            placeholder="mensaje"
        autofocus required></textarea>
        <button class="chat--input submit" type="submit" value="submit">►</button>
    </form>
</div>