:root {
    --hdr-bg-color: #a585d0;
    --hdr-fg-color: #542d5e;
    --body-bg-color: #f5f0fa;
    --sect-bg-color: #e5e0ea;
    --dropdown-bg-color: #dedbe3;
    --body-fg-color: #534453;
    --primary-shadow: #50406080;
    --refbtn-active: brightness(93%);
    --filter-img:
        invert(20%) sepia(46%) saturate(727%)
        hue-rotate(242deg) brightness(94%) contrast(93%);
}

body {
    font-size: 12px;
    
    color: var(--body-fg-color);
    background-color: var(--body-bg-color);
    overflow: hidden;

    position: relative;

    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

body>header {
    background-color: var(--hdr-bg-color);
    color: var(--hdr-fg-color);
    box-shadow: 0 0 10px var(--primary-shadow);

    width: 100vw;

    position: fixed;
    top: 0;

    padding-inline: .75rem;
    box-sizing: border-box;

    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 { font-size: 1.5em; }
h2 { font-size: 1.3em; margin: 0; }
body>main {
    min-height: 85vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    margin-top: 3.5rem;

    transition: none;
}

#menu {
    display: flex;

    user-select: none;
}

#error {
    font-size: .7rem;

    background-color: var(--sect-bg-color);
    color: var(--sect-fg-color);
    box-shadow: 0 3px 7px var(--primary-shadow);

    position: relative;

    width: 80vw;
    max-width: 80vw;

    overflow: hidden;
    box-sizing: border-box;

    padding-block: .5em;
    padding-left: 1.5em;

    border-radius: 4px;
    transform: translateY(0);
    filter: opacity(100%);

    transition: none;
}
#error.delete {
    transform: translateY(-150%);
    filter: opacity(0);
}
#error.animation {
    transition: transform 200ms ease-in-out, filter 200ms ease-out;
}
#error button {
    background-color: var(--sect-bg-color);
    color: var(--hdr-fg-color);
    
    font-size: 1.3em;
    
    position: absolute;
    top: 0;
    right: 0;
    
    width: 1.75em;
    height: 100%;
    
    border: none;
    
    filter: brightness(100%);

    transition: none;
}
#error.animation button {
    transition: filter 100ms;
}
#error button:hover {
    filter: brightness(90%);
}

.dropdown {
    position: relative;
    z-index: -1;

    width: 100%;
}
.dropdown--head {
    background-color: var(--dropdown-bg-color);
    z-index: 8;
}
.dropdown--head::before {
    content: 'â¯';
    position: absolute;
    height: max-content;
    left: 1em;
    font-weight: 700;
    z-index: 10;
    transform: rotate(0);

    transition: none;
}
.dropdown--head, .dropdown--head button { width: 100%; }
.dropdown.animation .dropdown--head::before { transition: transform 200ms ease-in-out; }
.dropdown.active .dropdown--head::before { transform: rotate(90deg); }
.dropdown--body{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    z-index: -1;
    
    width: 100%;
    top: -100%;
    transform: translateY(0);

    transition: none;
}
.dropdown.animation .dropdown--body { transition: transform 200ms ease-in-out; }
.dropdown.active  .dropdown--body { transform: translateY(100%); }
.btn--img {
    width: 1.5rem;

    padding: .5rem;
}
.menu--btn {
    background-color: var(--hdr-bg-color);
    border: none;
    
    width: 2.5rem;
    height: 2.5rem;
    
    padding: 0;

    filter: brightness(100%);
}
.menu--btn.active {
    filter: brightness(107%);
}
.menu--btn img.animation {
    transform: rotate(0);
    transition: transform 250ms ease-in-out;
}
.menu--btn img.non-animation {
    transition: none;
}
.menu--btn.active img {
    transform: rotate(180deg);
}

.hdr--hd {
    background-color: var(--sect-bg-color);
    color: inherit;

    height: 2.5rem;
    width: 100%;
    
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.no-bg {
    background-color: inherit;
    justify-content: start;
}
.refbtn {
    font-size: inherit;
    background-color: inherit;
    border: none;
    color: inherit;
    text-shadow: 0 0 0 var(--primary-shadow);

    height: 100%;
    min-width: 4.5em;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    filter: brightness(100%);
    transform: scale(100%);
}
button.refbtn {
    font-weight: 700;
}
.refbtn.animation {
    transition: transform 200ms ease;
}
.refbtn.non-animation {
    transition: none;
}
.refbtn:hover {
    filter: var(--refbtn-active);
}
.refbtn.active {
    text-shadow: 0 0 10px var(--primary-shadow);

    cursor: none;
    pointer-events: none;

    filter: var(--refbtn-active);
}
.filter-img {
    filter: var(--filter-img);
}

/* bar */

.bar {
    color: var(--hdr-fg-color);
    background-color: var(--sect-bg-color);

    position: fixed;

    height: calc(100vh - 2.5rem);
    width: 100vw;
    box-sizing: border-box;

    z-index: 8;
    display: flex;
    flex-direction: column;
    align-items: center;

    top: 2.5rem;
    transform: translateX(0);

    padding-block: 1rem;
}
.bar.animation {
    transition: transform 200ms ease-in-out;
}
.bar.non-animation {
    transition: none;
}
#navbar { right: -100%; }
#optsbar { left: -100%; }
#navbar.active { transform: translateX(-100%); }
#optsbar.active { transform: translateX(100%); }
.switch--checkbox { position: relative; }
.switch--checkbox>input {
    position: absolute;
    top: 0;
    left: 50%;
}
.navbar>h2 {
    z-index: 10;
}
.switch {
    background-color: var(--hdr-bg-color);
    box-shadow:
        0 0 0 3px var(--body-fg-color),
        0 0 12px var(--primary-shadow);

    position: relative;
    user-select: none;

    display: flex;
    border-radius: .75rem;
    overflow: hidden;
    
    height: 2rem;
}
.switch::before {
    content: '';
    
    background-color: var(--body-bg-color);
    box-shadow: 0 0 12px var(--primary-shadow);

    border-radius: .75rem;
    
    position: absolute;
    top: 0;
    left: 0;

    width: 2rem;
    height: 2rem;

    transform: translateX(0%);
}
.switch.animation::before {
    transition: transform 100ms ease-in-out;
}
.switch.non-animation::before {
    transition: none;
}
input:checked+.switch::before {
    transform: translateX(100%);
}
.switch--img {
    width: 1.5rem;

    padding: .25rem;
}

/* chat */

.chat {
    box-shadow: 0 3px 7px var(--primary-shadow);
    
    width: 80vw;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    border-radius: 4px;
}
.chat header {
    box-shadow: 0 0 10px var(--primary-shadow);
    background-color: var(--sect-bg-color);

    height: 3rem;
    padding-inline: 1em;
    margin-block: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
#chat--form {
    display: grid;
    grid-template: 
    "m s" auto / 1fr auto;

    min-height: 4rem;

    gap: 10px;
    padding: 10px;
}
#chat--room {
    height: 50vh;
}
#chat--room, #text {
    overflow: hidden scroll;
}
#text {
    resize: none;
    grid-area: m;
}
#chat--form>textarea {
    height: 5rem;
    resize: none;
}
#chat--form .submit{
    height: 100%;
    margin-block: auto;
}
#user {
    grid-area: u;
}
#signup--form {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem 1.5rem;
    gap: .5rem;
}
#signup--form .input {
    width: 100%;

    padding-block: .5em;

    margin-bottom: .75rem;
}
#signup--form .submit {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 2.2rem;

    padding: 4px;
}
.submit {
    cursor: pointer;
    user-select: none;

    height: 45px;
    width: 45px;

    font-size: 20px;
}
.submit:active {
    background-color: var(--hdr-fg-color);
    color: var(--hdr-bg-color);
}
.input {
    box-shadow: 0 0 0 var(--primary-shadow);
    background-color: transparent;
    color: var(--hdr-fg-color);
    border: solid 2px var(--hdr-fg-color);
    outline: none;
    box-sizing: border-box;
    
    padding-inline: .5em;
    
    border-radius: 4px;
}
.input:focus {
    box-shadow: 0 0 10px var(--primary-shadow);
}

/* sect */
.sect {
    background-color: var(--sect-bg-color);
    box-shadow: 0 3px 7px var(--primary-shadow);

    padding: 1em;

    border-radius: 4px;
}
.sect span {
    display: flex;
    justify-content: space-around;
}
.ref {
    text-decoration: none;

    background-color: var(--dropdown-bg-color);
    color: inherit;

    padding: .5em 1em;

    border-radius: 4px;

    filter: brightness(100%);

    transition: none;
}
.ref.animation {
    transition: filter 200ms ease-in-out;
}
.ref:hover {
    filter: var(--refbtn-active);
}


@media (prefers-color-scheme: dark) {
    :root {
        --hdr-bg-color: #6545b0;
        --hdr-fg-color: #c6b0cf;
        --body-bg-color: #15101a;
        --sect-bg-color: #201c26;
        --dropdown-bg-color: #25212b;
        --body-fg-color: #a394a3;
        --primary-shadow: #40305080;
        --refbtn-active: brightness(110%);
        --filter-img:
            invert(98%) sepia(79%) saturate(3323%)
            hue-rotate(186deg) brightness(85%) contrast(89%);
    }
}
@media screen and (prefers-reduced-motion) {
    * {
        transition: none;
    }
}